<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>E-Ecommerce</title>
    <link rel="stylesheet" href="/E-commerce/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

</head>
<body>

    <header>
        <div class="container top-nav">
            <a href="#" class="logo"><img src="imagens/paw.png" alt=""></a>
            <form action="" class="search">
                <input type="search" placeholder="search for produts...">
                <button type="submit">Search</button>
            </form>

            <div class="cart_header">
                <div onclick="open_cart()" class="icon_cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="count_item">0</span>
                </div>
                <div class="total_price">
                    <p>My Cart:</p>
                    <p class="price_cart_Head">$0</p>
                </div>
            </div>
        </div>

        <nav>
            <div class="links container">
                <i onclick="open_menu()"class="fa-solid fa-bars btn_open_menu" ></i>          
                <ul id="menu">
                    <span onclick="close_menu()" class="bg-overlay"></span>
                    <i onclick="close_menu()"class="fa-regular fa-circle-xmark btn_close_menu"></i>
                    <img class="logo_menu" src="/E-commerce/imagens/paw.png" alt="">

                    <li><a href="index.html">home</a></li>
                    <li class="active"><a href="all_products.html">all products</a></li>
                    <li><a href="">about us</a></li>
                    <li><a href="">contact</a></li>
                </ul>

                <div class="loging_signup">
                    <a href="login.html">Login <i class="fa-solid fa-right-to-bracket"></i></a>
                    <a href="signup_page.html">Sign up <i class="fa-solid fa-user-plus"></i></a>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="cart">
        <div class="top_cart">
            <h3>My cart <span class="count_item_cart">(0Item in Cart)</span></h3>
            <span onclick="close_cart()" class="close_cart"><i class="fa-regular fa-circle-xmark"></i></span>
        </div>
        
        <div class="items_in_cart">
            
        </div>

        <div class="bottom_Cart">
            <div class="total">
                <p>Cart subtotal</p>
                <p class="price_cart_total">$0</p>
            </div>

            <div class="button_Cart">
                <a href="checkout.html" class="btn_cart">Proceed to checkout</a>
                <button onclick="close_cart()"class="btn_cart trans_bg">Shop more</button>
            </div>
        </div>
    </div>

    <div class="top_page">
        <div class="container">
            <h1>Experience the Future of Technology with Our Topic.</h1>
            <p>Find everything you need to transform your home into a smart, connected space. Our Topic store offers a wide range of devices to fit your needs</p>
        </div>
    </div>

    <section class="all_products">
        <div class="container">

        <span class="btn_filter" onclick="open_close_filter()">
            filter <i class="fa-solid fa-filter"></i>
        </span>




            <div class="filter">
                <h2>filter</h2>

                <div class="filter_item">
                    <h4>categorie</h4>
                    <div class="content">

                        <div class="item">
                            <span>Phones</span>
                            <input type="checkbox">
                        </div>

                        <div class="item">
                            <span>Tablets</span>
                            <input type="checkbox">
                        </div>

                        <div class="item">
                            <span>Elecronics</span>
                            <input type="checkbox">
                        </div>

                        <div class="item">
                            <span>TV</span>
                            <input type="checkbox">
                        </div>

                        <div class="item">
                            <span>Fashion</span>
                            <input type="checkbox">
                        </div>

                        <div class="item">
                            <span>Watches</span>
                            <input type="checkbox">
                        </div>


                    </div>
                </div>

                <div class="filter_item">
                    <h4>Brand</h4>
                    <div class="content">

                        <div class="item">
                            <span>Apple</span>
                            <input type="checkbox">
                        </div>

                        <div class="item">
                            <span>Samsug</span>
                            <input type="checkbox">
                        </div>

                        <div class="item">
                            <span>Intel</span>
                            <input type="checkbox">
                        </div>

                        <div class="item">
                            <span>Oppo</span>
                            <input type="checkbox">
                        </div>

                        <div class="item">
                            <span>Xiaomi</span>
                            <input type="checkbox">
                        </div>

                        <div class="item">
                            <span>Watches</span>
                            <input type="checkbox">
                        </div>

                    </div>
                </div>

                <div class="filter_item">
                    <h4>color</h4>
                    <div class="content">

                        <div class="item">
                            <span class="color" style="background: red;" ></span>
                            <input type="checkbox">
                        </div>

                        <div class="item">
                            <span class="color" style="background: blue;" ></span>
                            <input type="checkbox">
                        </div>


                        <div class="item">
                            <span class="color" style="background: black;" ></span>
                            <input type="checkbox">
                        </div>

                        <div class="item">
                            <span class="color" style="background: orangered;" ></span>
                            <input type="checkbox">
                        </div>

                        <div class="item">
                            <span class="color" style="background:green;" ></span>
                            <input type="checkbox">
                        </div>

                        <div class="item">
                            <span class="color" style="background: yellow;" ></span>
                            <input type="checkbox">
                        </div>



                    </div>
                </div>

            </div>

            <div id="products_dev" class="products_dev ">
            </div>
        </div>

        <div class="pagination">

        </div>



    </section>

    <div class="back_to_top">
        <p>Back to top</p>
    </div>

    <footer>
        <div class="container">
            <div class="big_row">
                <img src="/E-commerce/imagens/paw.png" alt="">
                <div class="hotline">                 
                    <i class="fa-solid fa-headset"></i>
                    <div class="text">
                        <h5>-------------</h5>
                        <h6>4002-8922</h6>
                    </div>
                </div>

                <p>Lorem ipsum dol  assumenda vitae facilis.</p>
            </div>
                
            <div class="row">
                <h4>FAQs & Help</h4>

                <div class="links">
                    <a href="#">F.A.Q</a>
                    <a href="#">Ordering Tracking</a>
                    <a href="#">Contacts</a>
                    <a href="#">Events</a>
                    <a href="#">Help Center</a>
                </div>
            </div>
            
            <div class="row">
                <h4>Shipping & Delivery</h4>

                <div class="links">
                    <a href="#">Devlivery Informaiton</a>
                    <a href="#">Discount</a>
                    <a href="#">Payment & Shipping</a>
                    <a href="#">Estimated Delivery Time</a>
                    <a href="#">Shipping Guide</a>
                </div>
            </div>

            <div class="row">
                <h4>Information</h4>

                <div class="links">
                    <a href="#">Popular</a>
                    <a href="#">Our Services</a>
                    <a href="#">Your Account</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms & Condition</a>
                </div>
            </div>

        </div>

        <div class="bottom_footer">
            <div class="container">
                <p>Copyright &copy; <span>Topico.</span> all rights reserved</p>

                <div class="payment_img">
                    <img src="/E-commerce/imagens/card1.png" alt="">
                    <img src="/E-commerce/imagens/card2.png" alt="">
                    <img src="/E-commerce/imagens/card3.png" alt="">
                    <img src="/E-commerce/imagens/card4.png" alt="">
                </div>
            </div>
        </div>
    
    </footer>



  <!-- Initialize Swiper -->
<script src="/E-commerce/js/main.js"></script>
<script src="/E-commerce/js/all_products.js"></script>



</body>
</html>